{% extends 'UI/skin.html'%}

{% block body %}
<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-lg-8 col-lg-offset-2">
<h2>Stations <small>COMING SOON</small></h2>
<p>Scinage stations will be the end-all solution to on-campus signage needs. Stations will be able to schedule slideshows, or even individual slides, giving each scheduled item a priority number to ensure that each screen is playing what it needs to play when it needs to play it.</p>
<p>Stations will also have the ability to tie into the on-campus emergency notification system (EMERGE), and allow users to add special slides to overlay over any other running slides.</p>

<p>Stations will be available in the next version of the Scinage Beta*</p>
<p class="small text-muted">*hopefully</p>
</div>
</div>
</div>
{% endblock %}