<ul id="screentabs" class="nav nav-tabs" role="tablist" style="margin-top:10px;">
		  <li role="presentation" class="active"><a href="#my_screens" aria-controls="my_screens" role="tab" data-toggle="tab">My Screens</a></li>
		  <li role="presentation"><a href="#group_screens" aria-controls="group_screens" role="tab" data-toggle="tab">Screens in Groups</a></li>
</ul>
<div id="screenpanes" class="tab-content" style="">
	<div class="input-group" style="padding:20px;">
	  <input type="text" id="my_screens_search" class="form-control" placeholder="search for screen title">
	  <span class="input-group-addon"><i class="fa fa-search"></i></span>
	</div>
   {% load slide_tags %}
   <div role="tabpanel" class="tab-pane active" id="my_screens">
   	<div class="row">
   	{% for screen in screens %}
   	{% screen_item screen %}
   	{% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
   	{% if mode != 'manage' %}
   	{% endif %}

   	{% endfor %}
   	</div>
   </div>
      <div role="tabpanel" class="tab-pane" id="group_screens">
      <div class="row">
         {% for group in groups %}
            <div class="panel panel-default">
              <div class="panel-heading"><span class="panel-title">{{group.title}} </span> <span class="text-muted">owned by {% if group.owner == user %}me{% else %}{{group.owner.username}}{% endif %}</span></div>
              <div class="panel-body">
                {% for screen in group.screens.all %}
                  {% screen_item screen %}
                  {% endfor %}
              </div>
            </div>

         {% endfor %}
      </div>
   </div>
</div>

<script>
$(function(){
var currentTimeout

 $(document).on('change propertychange keyup', '#my_screens_search', function(){
 	var search = $(this).val().toLowerCase();
 	if (search.length > 3){
 		clearTimeout(currentTimeout);
 		currentTimeout = setTimeout(function(){
 			var thistab = $("#screenpanes div.active")
 			$('.screenItem', thistab).each(function(){
 				console.log($(this).data('title'))
 				console.log(($(this).data('title').indexOf(search)))
 				if ($(this).data('title').toLowerCase().indexOf(search) > -1){
 					console.log(true)
 					$(this).show()
 				}
 				else {
 					$(this).hide()
 				}
 			})
 		}, 350)
 	}
 	else {
 		var thistab = $("#screenpanes div.active")
 		$('.screenItem', thistab).each(function(){
 			$(this).show()
 			})
 	}
 })
})
</script>