{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Screens' 'screens' %}
{% endblock %}

{% block style %}
<style>
	.tab-content{
		background-color:white;
		border-left:1px solid ddd;
		border-right:1px solid ddd;
		border-bottom:1px solid ddd;
		margin-left: 1px;
	}
	.tab-pane{
		padding:30px;
	}
	.sharebuttoncontainer{
		display: block;
	}
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="row">
	<div class="col-lg-6 col-lg-push-6 col-xs-12">
	<h2>Screens <small class="text-muted">Point, click, go.</small></h2>
	<p>Screens are exactly what they sound like -- digital representations of physical screens.</p>
	<p>Each time you set up a physical screen in the real world, you can create a digital screen in Scinage to represent it. This will allow you to point a physical screen to a different slideshow, station, or slide without having to go fiddle with the physical screen at all!</p>
	<a href={% url 'new_screen' %} class="btn btn-primary btn-lg">New Screen</a>

	</div>
	<div id="listScreenLoader" class="col-lg-6 col-lg-pull-6 col-xs-12">
		
	</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">Share settings for <span id="sharetitle"></span></h4>
      </div>
      <div id="shareModalBody" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="saveshare" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">Share Screen<span id="sharetitle"></span></h4>
      </div>
      <div id="shareModalBody" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="saveshare" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">Transfer Screen<span id="sharetitle"></span></h4>
      </div>
      <div id="transferModalBody" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="dotransfer" class="btn btn-primary">Transfer Item</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
	$('#listScreenLoader').load('{% url "list_screens" %}')
	$('#listScreenLoader').on('click', '.sharebutton', function(){
		$('#shareModalBody').load('/share/screen/'+$(this).data('itempk')+'/', function(){
			$('#shareModal').modal('show');
		})
	})
	$('#listScreenLoader').on('click', '.transferbutton', function(){
		$('#transferModalBody').load('/transfer/screen/'+$(this).data('itempk')+'/', function(){
			$('#transferModal').modal('show');
		})
	})
</script>
{% endblock %}