<div data-id="{{screen.id}}" data-title="{{screen.title}}" class="screenItem {% if mode == "use" or mode == "edit"%}col-xs-6 col-sm-4 col-md-3{% else %}col-xs-12{% endif %}">
	<div class="itemContainer itemContainerScreen row">
	<div class="col-xs-12">
		<span class=""><i class="fa fa-th-list"></i></span>
		<span class="pull-right">
		
		</span>
	</div>
	<div class="col-xs-8">
	<div class="col-xs-12{% if mode == "manage"%}{% else %}text-center{% endif %}">
		<h4 style="margin:0; margin-top:5px"><b>{{screen.title}}</b> 
		<small>(by: {% if screen.owner = user %}Me{% else %} {{screen.owner.username}}{% endif %})
		<br>
		Last Seen: {{screen.last_connect|date:"Y/m/d H:m"}}
		<br>
		IP Address: {{screen.ip}}
		<br>
		URL: https://scinage.uwaterloo.ca/screens/view/{{screen.slug}}/
		</small>

		</h4>

	</div>
		<div class="col-xs-12 itemDescription" style="min-height:100%; margin-top:10px;">
			<p><small></small></p>
			<p>{{screen.description}}</p>
		</div>
	</div>
		<div class="col-xs-4">
			<div class="btn-group-vertical btn-block" role="group" aria-label="...">
				{% if perms.share == True %}<button class="sharebutton btn btn-primary btn-sm" data-itempk="{{screen.id}}">Share</button>{% endif %}
				{% if perms.edit == True %}<a href="{% url 'edit_screen' screen.id %}" class="btn btn-primary btn-sm">Edit</a>{% endif %}
				{% if user == screen.owner %}
				<button class="transferbutton btn btn-primary btn-sm" data-itempk="{{screen.id}}">Transfer</button>
				{% endif %}
				{% if perms.delete == True %}<a href="{% url 'delete_screen' screen.id %}" class="btn btn-primary btn-sm">Delete</a>{% endif %} 
				<a href="{% url 'view_screen' screen.slug %}" class="btn btn-primary btn-sm">View</a>
			</div>
		</div>
	</div>
</div>