<html>
<head>
	<style type="text/css">
	body{
		margin:0;
		padding:0;
		background-color: #474d57;
		min-height:100%;
		height: 100%;
		max-height: 100%;
		min-height: 100vh;
		height: 100vh;
		max-height: 100vh;

	}
	</style>
<script src="/static/js/jquery-2.2.0.min.js"></script>
<script>
	$(function(){
		$('body').load('{{screen.link}}')
		var link = "{{screen.link}}"
		setInterval(function(){
			$.get('/screens/ping/{{screen.slug}}/', function(data){
				if (data != link){
					location.reload();
				}
			})
		}, 3000)
	})
</script>
</head>
<body>
</body>
</html>