{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Groups' 'groups' %}
	{% if group != None %}
	{% with "Edit: "|add:group.title as current %}
		{% breadcrumb current %}
	{% endwith %}
	{% else %}
    {% breadcrumb 'New Group' %}
    {% endif %}
{% endblock %}

{% block style %}

	<style>

	</style>

{% endblock %}

{% block body %}
	<div class="col-lg-6 col-xs-12">
		<form id="group_form" method="POST" action="" >
		{% load crispy_forms_tags %}

		{% crispy form %}

		<hr>

				{% crispy membersform helper %}
				<button type="button" id="addcontrol">Add User</button>

		<button type="submit">Submit</button>
		</form>
				<table id="empty_form" style="display:none">
					<tbody>
		      {% crispy membersform.empty_form trhelper%}
		      </tbody>
				</table>
	</div>
	<div id="user_template" style="display:none;">
		<div class="input-group">
		  <input type="text" class="form-control" name="__name__" placeholder="enter 8-char UW userid">
		  <span class="input-group-btn">
		    <button class="deleteuser btn btn-default" type="button">x</button>
		  </span>
		</div><!-- /input-group -->
	</div>
{% endblock %}

{% block script %}
<script>
$(".addbutton").click(function(){
	var target = $(this).data('target');
	var tmplMarkup = $('#user_template').html();
	var compiledTmpl = tmplMarkup.replace(/__name__/g, target + '[]');
	$('#' + target).append(compiledTmpl);
})

$('#addcontrol').click(function(ev){
			ev.preventDefault();
			var count = $('#controls_container > tbody > tr').length;
			var tmplMarkup = $('#empty_form>tbody').html();
			var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
			$('table#controls_container>tbody').append(compiledTmpl);

			// update form count
			$('#id_member-TOTAL_FORMS').attr('value', count+1);
		})
</script>
{% endblock %}