{% extends 'UI/skin.html' %}
{% load breadcrumbs %}
{% load slide_tags %}


{% block breadcrumbs %}
{% breadcrumb_url 'Groups' 'groups' %}
{% endblock %}

{% block style %}
<style>
	.tab-content{
		background-color:white;
		border-left:1px solid ddd;
		border-right:1px solid ddd;
		border-bottom:1px solid ddd;
		margin-left: 1px;
	}
	.tab-pane{
		padding:30px;
	}

</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="row">
	<div class="col-lg-6 col-lg-push-6 col-xs-12">
	<h2>{{group.title}}<small class="text-muted">(Owned by: {% if group.owner == user %}me{% else %}{{group.owner.username}}{% endif %})</small></h2>
	<p>{{group.description}}</p>
	</div>
	<div id="" class="col-lg-6 col-lg-pull-6 col-xs-12">
		<ul id="grouptabs" class="nav nav-tabs" role="tablist" style="margin-top:10px;">
				  <li role="presentation" class="active"><a href="#group_members" aria-controls="group_members" role="tab" data-toggle="tab"><i class="fa fa-users"></i> Members</a></li>
				  <li role="presentation"><a href="#group_slides" aria-controls="group_slides" role="tab" data-toggle="tab"><i class="fa fa-object-group"></i> Slides</a></li>
				  <li role="presentation"><a href="#group_slideshows" aria-controls="group_slideshows" role="tab" data-toggle="tab"><i class="fa fa-th-list"></i> Slideshows</a></li>
				  <li role="presentation"><a href="#group_slideshows" aria-controls="group_slideshows" role="tab" data-toggle="tab"><i class="fa fa-calendar"></i> Stations</a></li>
				  <li role="presentation"><a href="#group_screens" aria-controls="group_screens" role="tab" data-toggle="tab"><i class="fa fa-television"></i> Screens</a></li>
				  <li role="presentation"><a href="#group_layers" aria-controls="group_layers" role="tab" data-toggle="tab"><i class="fa fa-object-ungroup"></i> Layers</a></li>
		</ul>
		<div id="grouppanes" class="tab-content" style="">
		   <div role="tabpanel" class="tab-pane active" id="group_members">
		   	<div class="row">
		   	<b>You ({{user.username}}):</b>
		   	<br>
		   	{% for member in group.groupmembership_set.all %}
		   	<b>{{member.user.username}}</b>
		   	<br>
		   	{% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
		   	{% endfor %}
		   	</div>
		   </div>
		   <div role="tabpanel" class="tab-pane" id="group_slides">
		      <div class="row">
		      {% for item in group.slides.all %}
		      {% slide_item item %}
		      {% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
		      {% endfor %}
		      </div>
		   </div>
		   <div role="tabpanel" class="tab-pane" id="group_slideshows">
		      <div class="row">
		      {% for item in group.slideshows.all %}
		      {% slideshow_item item %}
		      {% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
		      {% endfor %}
		      </div>
		   </div>
		   <div role="tabpanel" class="tab-pane" id="group_layers">
		      <div class="row">
		      {% for item in group.layers.all %}
		      {% layer_item_fav item %}
		      {% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
		      {% endfor %}
		      </div>
		   </div>
		   <div role="tabpanel" class="tab-pane" id="group_screens">
		      <div class="row">
		      {% for item in group.screens.all %}
		      {% screen_item item %}
		      {% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
		      {% endfor %}
		      </div>
		   </div>
		</div>
	</div>
</div>
</div>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}