<div data-id="{{slide.id}}" data-title="{{slide.title}}" class="slideItem {% if mode == "use" or mode == "edit"%}col-xs-6 col-sm-4 col-md-3{% else %}col-xs-12{% endif %}">
	<div class="itemContainer itemContainerSlide row">
	<div class="col-xs-12">
		<span class=""><i class="fa fa-object-group"></i></span>
		<span class="pull-right">
		{% if mode  == 'manage' %}
		<a target="_blank" href="{% url 'clone_slide' slide.id %}"><i class="favtoggle fa fa-copy" title="Clone this slide"></i></a>
		<i class="fa fa-eye previewtoggle" title="Preview this slide"></i>{% endif %} 
		</span>
	</div>

	<div class="col-xs-12 slidepreview" style="display:none; padding:10px">
		<div class="aspect_maintain" style="">
		</div>
	</div>
	<div class="col-xs-8">
	<div class="col-xs-12{% if mode == "manage"%}{% else %}text-center{% endif %}">
		<h4 style="margin:0; margin-top:5px"><b>{{slide.title}}</b>
		<br>
		<small>(by: <span class="owner">{% if slide.owner = user %}Me{% else %} {{slide.owner.username}}{% endif %}</span>)
		<br>
		Last Edited: {{slide.edit_date|date:"Y/m/d"}}
		</small>

		</h4>

	</div>
	{% if mode == "manage" %}
		<div class="col-xs-12 itemDescription" style="min-height:100%; margin-top:10px;">
			<p><small></small></p>
			<p>{{slide.description}}</p>
		</div>
	</div>
		<div class="col-xs-4">
			<div class="btn-group-vertical btn-block" role="group" aria-label="...">
				{% if perms.share == True %}<button class="sharebutton btn btn-primary btn-sm" data-itempk="{{slide.id}}">Share</button>{% endif %}
				{% if perms.edit == True %}<a href="{% url 'edit_slide' slide.id %}" class="btn btn-primary btn-sm">Edit</a>{% endif %} 
				{% if perms.use == True %}<a href="{% url 'view_slide' slide.id %}" class="btn btn-primary btn-sm">View</a>{% endif %}
				{% if slide.owner == user %}
				<button class="transferbutton btn btn-primary btn-sm" data-itempk="{{slide.id}}">Transfer</button>
				{% endif %}
				{% if perms.delete == True %}<a href="{% url 'delete_slide' slide.id %}" class="btn btn-primary btn-sm">Delete</a>{% endif %} 
			</div>
		</div>
	{% else %}
	</div>
	{% endif %}
	<div class="col-xs-12 addbuttoncontainer">
		{% if perms.use == True %}
		<button type="button" class=" btn btn-block btn-primary addslidebutton">Add</button>
		{% else %}
		<button type="button" class=" btn btn-block btn-primary disabled">Cannot add this item</button>
		{% endif %}
	</div>
	</div>
</div>