<ul id="slidetabs" class="nav nav-tabs" role="tablist" style="margin-top:10px;">
		  <li role="presentation" class="active"><a href="#my_slides" aria-controls="my_slides" role="tab" data-toggle="tab">My Slides</a></li>
		  <li role="presentation"><a href="#group_slides" aria-controls="group_slides" role="tab" data-toggle="tab">Group Slides</a></li>
</ul>
<div id="slidepanes" class="tab-content" style="">
	<div class="input-group" style="padding:20px;">
	  <input type="text" id="my_slides_search" class="form-control" placeholder="search for slide title">
	  <span class="input-group-addon"><i class="fa fa-search"></i></span>
	</div>
   {% load slide_tags %}
   <div role="tabpanel" class="tab-pane active" id="my_slides">
   	<div class="row">
   	{% for slide in slides %}
   	{% slide_item slide %}
   	{% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
   	{% if mode != 'manage' %}
   	{% endif %}

   	{% endfor %}
   	</div>
   </div>
   <div role="tabpanel" class="tab-pane" id="group_slides">
      <div class="row">
         {% for group in groups %}
            <div class="panel panel-default">
              <div class="panel-heading"><span class="panel-title">{{group.title}} </span> <span class="text-muted">owned by {% if group.owner == user %}me{% else %}{{group.owner.username}}{% endif %}</span></div>
              <div class="panel-body">
                {% for slide in group.slides.all %}
                  {% slide_item slide %}
                  {% endfor %}
              </div>
            </div>

         {% endfor %}
      </div>
   </div>
</div>



<script>
$(function(){
var currentTimeout

 $(document).on('change propertychange keyup', '#my_slides_search', function(){
 	var search = $(this).val().toLowerCase();
 	if (search.length > 3){
 		clearTimeout(currentTimeout);
 		currentTimeout = setTimeout(function(){
 			var thistab = $("#slidepanes div.active")
 			$('.slideItem', thistab).each(function(){
 				console.log($(this).data('title'))
 				console.log(($(this).data('title').indexOf(search)))
 				if ($(this).data('title').toLowerCase().indexOf(search) > -1){
 					console.log(true)
 					$(this).show()
 				}
 				else {
 					$(this).hide()
 				}
 			})
 		}, 350)
 	}
 	else {
 		var thistab = $("#slidepanes div.active")
 		$('.slideItem', thistab).each(function(){
 			$(this).show()
 			})
 	}
 })

 $("#slidepanes").on('click', '.previewtoggle', function(){
  var icon = $(this);
  var container = $(this).closest('.slideItem');
  var itemid = container.data('id');
  if (icon.hasClass('fa-eye')){
     $.get('/slides/view/'+itemid+'/', success=function(data){
        var iframe = $('<iframe scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0"></iframe>').attr('srcdoc', data)

        container.find('.slidepreview>div').html(iframe)
        container.find('.slidepreview').slideDown();

     })
  }
  else{
     container.find('.slidepreview').hide()
     container.find('.slidepreview iframe').remove()
  }
  icon.toggleClass('fa-eye fa-eye-slash')
 })
})
</script>