<div class="layerIcon activeIcon">
	{{form.title}}<span class="short"></span>
	<button class="layerup">Move Up</button>
	<button class="layerdown">Move Down</button>
	<button class="layerdelete">Delete</button>
	{{ form.non_field_errors }}
	       {{ form.errors }}

	<div style="display:none;">
	{{form.id}}{{form.x}}{{form.y}}{{form.width}}{{form.height}}{{form.version}}{{form.data}}{{form.DELETE}}{{form.index}}
	</div>
	<span class="canvas_link"></span>
</div>
