<div data-id="{{slide.id}}" data-title="{{slide.title}}" data-version="{{slide.latest.id}}" class="slideItem col-xs-{% if mode == 'manage'%}12{% else %}3{% endif %}">
	<div class="info col-xs-{% if mode == 'manage'%}6{% else %}12{% endif %}">
	<h4>{{slide.title}}</h4>
	<p>{{slide.description}}</p>
	</div>
	{% if mode == 'manage'%}
	<div class="col-xs-6 text-right">
	Owned by: {% if slide.owner = user %} Me {% else %} {{slide.owner.username}}{% endif %}
	<br>
	Last Edited: {{slide.edit_date}}
	<br>
	{% if perms.share == True %}<button class="sharebutton btn btn-default btn-sm" data-itempk="{{slide.id}}">Share</button>{% endif %}
	{% if perms.edit == True %}<a href="{% url 'edit_slide' slide.id %}" class="btn btn-default btn-sm">Edit</a>{% endif %} 
	{% if perms.delete == True %}<a href="{% url 'delete_slide' slide.id %}" class="btn btn-default btn-sm">Delete</a>{% endif %} 
	<a target="_blank" href="{% url 'view_slide' slide.id %}" class="btn btn-default btn-sm">View</a>
	</div>
	{% else %}
	<div class="col-xs-12">
		{% if perms.use == True %}
		<button type="button" class=" btn btn-block btn-primary addslidebutton">Add</button>
		{% else %}
		<button type="button" class=" btn btn-block btn-primary disabled">Cannot add this item</button>
		{% endif %}
	</div>
	{% endif %}

</div>