<html>
<head>
	<style type="text/css">
	body{
		margin:0;
		padding:0;
		background-color: #474d57;
		min-height:100%;
		height: 100%;
		max-height: 100%;
		min-height: 100vh;
		height: 100vh;
		max-height: 100vh;

	}
	</style>
</head>
<body>
{% for layer in slidelayers %}

<iframe srcdoc="{{layer.1}}" style="width: {{layer.0.width}}vw; height: {{layer.0.height}}vh; position:fixed; left: {{layer.0.x}}vw; top: {{layer.0.y}}vh; z-index:{{layer.0.index}};"
scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" sandbox="allow-scripts allow-same-origin">
</iframe>
{% endfor %}
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<script>
$.holdReady(true);
</script>
</body>
</html>