{% extends 'UI/skin.html' %}

{% block style %}
<style>
.frontpageItem{
	padding: 15px;
	border: 1px solid #666;
	border-radius: 12px;
}
.frontpageItem>h2{
	margin-top: 0px;
}

.fpblock{
	padding-top:15px;
	padding-bottom:15px;
}
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
 <div class="row" style="background-color: #0073CF; border-bottom:8px solid #666;">
  <div class="col-xs-12 text-center">
 		<img class=""  height="200px" src="/static/img/logo.png" style="margin:0 auto;">
 		<br>
 		<h4 style="color: white;">BETA 1.0</h4>
  </div>
 </div>
 <div id="fprow" class="row">
  <div class="fpblock col-xs-12 col-lg-6">
  	<div class="frontpageItem itemContainerGroup">
  		<h2><i class="fa fa-users"></i> Groups <a href="{% url 'groups' %}"><i class="fa fa-arrow-circle-right"></i></a></h2>
  		You are the owner of <b>{{ owned_groups.count }}</b> groups. 
  		<br>
  		You have access to <b>{{ other_groups.count }}</b> other groups.
  	</div>
  </div>
 	<div class="fpblock col-xs-12 col-lg-6">
 		<div class="frontpageItem itemContainerSlide">
 			<h2><i class="fa fa-object-group"></i> Slides <a href="{% url 'slides' %}"><i class="fa fa-arrow-circle-right"></i></a></h2>
 			You have made <b>{{ owned_slides }}</b> slides. 
 			<br>
 			You have access to <b>{{ other_slides }}</b> other slides within groups.
 		</div>
 	</div>
 	<div class="fpblock col-xs-12 col-lg-6">
 		<div class="frontpageItem itemContainerSlideshow">
 			<h2><i class="fa fa-th-list"></i> Slideshows <a href="{% url 'slideshows' %}"><i class="fa fa-arrow-circle-right"></i></a></h2>
 			You have made <b>{{ owned_slideshows }}</b> slideshows. 
 			<br>
 			You have access to <b>{{ other_slideshows }}</b> other slideshows within groups.
 		</div>
 	</div>
 	<div class="fpblock col-xs-12 col-lg-6">
 		<div class="frontpageItem itemContainerStation">
 			<h2><i class="fa fa-television"></i> Stations <a href="{% url 'stations' %}"><i class="fa fa-arrow-circle-right"></i></a></h2>
 			Coming Soon.
 			<br>
 			<br>
 		</div>
 	</div>
 	<div class="fpblock col-xs-12 col-lg-6">
 		<div class="frontpageItem itemContainerLayer">
 			<h2><i class="fa fa-object-ungroup"></i> Layers <a href="{% url 'layers' %}"><i class="fa fa-arrow-circle-right"></i></a></h2>
 			You have made <b>{{ owned_layers }}</b> layers and favorited <b>{{fav_layers}}</b>.
 			<br>
 			You have access to <b>{{ other_layers }}</b> other layers within groups.
 			<br>
 			{{shared_layers}} of your layers have been shared. 
 			{% if shared_layers > 0 %}
 			<br>
 			Your shared layers have been used {{layer_uses}} times.
 			{% endif %}
 		</div>
 	</div>
 	</div>
 </div>
</div>
{% endblock %}