<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Scinage</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/static/fontselect/fontselect.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    	body{margin:0; padding:0; background-color: #E6E6E6;}
    	.ui-sidebar-container{
    		height: 100vh;
    		position: fixed;
    		background-color: #373d47;
    		width: 52px;
    		overflow: hidden;
    		z-index:1900;
    		padding-top:50px;
    		color:#979da7;

    	}
      .ui-sidebar-activate{
        height: 100vh;
        position: fixed;
        width: 10px;
        overflow: hidden;
        z-index:1901;
        padding-top:50px;

      }
    	.ui-sidebar{
    		width:200px;
    		padding:0px;
    		line-height: 40px
    	}

    	.ui-sidebar i{
    		padding-right:20px;
    	}

	
    	.ui-sidebar-wrapper{
    		margin-left:52px;
    		position: relative;
    		padding-top: 50px;
    	}
    	.ui-sidebar-container.ui-expanded{
    		width:200px;
    	}
    	.ui-sidebar-wrapper.ui-expanded{
    		margin-left:200px;
    	}
    	.ui-nav-light li{
    		background-color: #474d57;
    	}
    	ul.nav.ui-nav a{ 
    		color: #979da7 !important;
    		padding:0;
		    padding-left:16px;

    	}
    	.navbar-inverse span.navbar-brand:hover, 
    	.navbar-inverse span.navbar-brand:focus {
    	  background-color: transparent;
    	  color: #999999;
    	}
      ul.nav.ui-nav li.active{
        background-color: #474d57;
      }

      /*Styling for inline checkboxes and such */
      table .checkbox{
        display:table-cell;
      }
      table .checkbox input[type=checkbox]{
        margin-left:10px;
      }

      /*Styling for Layer Stuff*/
      .itemContainer{
        -webkit-border-radius: 12px 12px 0px 0px;
        -moz-border-radius: 12px 12px 0px 0px;
        border-radius: 12px 12px 0px 0px;
        border-bottom: 6px solid #333333;
        padding:10px 0px 10px 0px;
        margin:0px;
      }
      .itemDescription{
        -webkit-border-radius: 6px 6px 6px 6px;
        -moz-border-radius: 6px 6px 6px 6px;
        border-radius: 6px 6px 6px 6px;
        background-color: #FFFFFF;
      }
      .itemContainerLayer{
        background-color: #EEEEEE;
      }
      .itemContainerSlide{
        background-color: #dfe6f6;
      }
      .itemContainerSlideshow{
        background-color: #dff6e0;
      }
      .itemContainerGroup{
        background-color: #f6dff6;
      }
      .itemContainerScreen{
        background-color: #ffd9b3;
      }
        .layerItem,.slideItem, .slideshowItem, .groupItem, .screenItem{
        padding:5px;
      }
      .addbuttoncontainer, .sharebuttoncontainer{
        display: none;
      }
      .aspect_maintain{
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 51%;
      }
      .aspect_maintain iframe{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0; top: 0;
      }
      .modal{
        z-index:10000;
      }
      .tab-pane{
        padding-top: 0;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
      }
      {% if newlysaved %}
      .navbar-inverse {
          animation-name: flash;
          animation-duration: 2s;
          -webkit-animation-name: flash;
          -webkit-animation-duration: 2s;
      }
      @-webkit-keyframes flash {
          from { background-color: green; }
          to  { background-color: #222; }
      }
      @keyframes flash {
          0% {  background-color: green; }
          100% { background-color: #222; }
      }
      {% endif %}

    </style>
    {% block style %}
    {% endblock %}
  </head>

  <body>
    <div class="ui-sidebar-activate"></div>
  	<div class="ui-sidebar-container ui-hover-sidebar ui-collapsed">
	  	<nav class="ui-sidebar">
      {% comment %}
		  	<ul class="nav ui-nav ui-nav-light">
		  		<li style="padding-left:4px" id="lock-sidebar"><a><i class="fa fa-unlock"></i> Lock Sidebar</a></li>
		  		<li style="padding-left:4px" id="unlock-sidebar" class="hidden"><a ><i class="fa fa-lock"></i> Unlock Sidebar</a></li>
		  		<li style="padding-left:2px" id="close-sidebar" class="hidden"><a ><i class="fa fa-toggle-left"></i> Close Sidebar</a></li>
		  		<li style="padding-left:2px" id="open-sidebar" class="hidden"><a ><i class="fa fa-toggle-right"></i> Open Sidebar</a></li>
		  	</ul>
        {% endcomment %}
		  	<ul class="nav ui-nav">
          {% url 'layers' as layers_url %}
          {% url 'slides' as slides_url %}
          {% url 'slideshows' as slideshows_url %}
          {% url 'stations' as stations_url %}
          {% url 'groups' as groups_url %}
          {% url 'screens' as screens_url %}
          <li {% if request.get_full_path == groups_url %}class="active"{% endif %} ><a href="{{groups_url}}"><i class="fa fa-users"></i> Groups</a></li>
		  		<li {% if request.get_full_path == slides_url %}class="active"{% endif %}><a href="{{slides_url}}"><i class="fa fa-object-group"></i> Slides</a></li>
		  		<li {% if request.get_full_path == slideshows_url %}class="active"{% endif %}><a href="{{slideshows_url}}"><i class="fa fa-th-list"></i> Slideshows</a></li>
		  		<li {% if request.get_full_path == stations_url %}class="active"{% endif %}><a href="{{stations_url}}"><i class="fa fa-calendar"></i> Stations</a></li>
          <li {% if request.get_full_path == screens_url %}class="active"{% endif %}><a href="{{screens_url}}"><i class="fa fa-television"></i> Screens</a></li>
          <li {% if request.get_full_path == layers_url %}class="active"{% endif %} ><a href="{{layers_url}}"><i class="fa fa-object-ungroup"></i> Layers</a></li>
          
		  	</ul>
		</nav>
  	</div>
  	<nav class="navbar navbar-inverse navbar-fixed-top" style="z-index:1901">
  	  <div class="container-fluid">
  	    <div class="navbar-header">
  	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
  	        <span class="sr-only">Toggle navigation</span>
  	        <span class="icon-bar"></span>
  	        <span class="icon-bar"></span>
  	        <span class="icon-bar"></span>
  	      </button>
  	      <a class="navbar-brand" href="/">Scinage</a>
  	      {% block breadcrumbs %}{% endblock %}
  	    </div>
  	    <div id="navbar" class="navbar-collapse collapse">
  	      <ul class="nav navbar-nav navbar-right">
  	        <!--<li><a href="#">Dashboard</a></li>
  	        <li><a href="#">Settings</a></li>
  	        <li><a href="#">Profile</a></li>
  	        <li><a href="#">Help</a></li>-->
  	      </ul>
  	    </div>
  	  </div>
  	</nav>
  	<div class="ui-sidebar-wrapper">
  	{% block body %}
  	{% endblock %}
  	</div>

  <!-- All the javascripts -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="/static/fontselect/jquery.fontselect.min.js"></script>
  	<!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script type="text/javascript">
  $("#lock-sidebar").click(function(){
  	$(".ui-sidebar-wrapper").stop(true, true).addClass("ui-expanded", 250, "easeOutSine")
  	$(".ui-sidebar-container").stop(true, true).removeClass("ui-hover-sidebar").removeClass("ui-collapsed")
  	$(".ui-sidebar-container").addClass("ui-expanded")
  	$(".ui-sidebar-wrapper").addClass("ui-expanded")
  	$("#lock-sidebar").addClass('hidden')
  	$("#unlock-sidebar").removeClass('hidden')
  	$("#close-sidebar").removeClass('hidden')
  })
  $("#close-sidebar").click(function(){
  	$("#open-sidebar").removeClass('hidden')
  	$("#close-sidebar").addClass('hidden')
  	$(".ui-sidebar-container").stop(true, true).removeClass("ui-expanded", 250, "easeOutSine")
  	$(".ui-sidebar-wrapper").stop(true, true).removeClass("ui-expanded", 250, "easeOutSine")
  })
  $("#open-sidebar").click(function(){
  	$("#close-sidebar").removeClass('hidden')
  	$("#open-sidebar").addClass('hidden')
  	$(".ui-sidebar-container").stop(true, true).addClass("ui-expanded", 250, "easeOutSine")
  	$(".ui-sidebar-wrapper").stop(true, true).addClass("ui-expanded", 250, "easeOutSine")
  })
  $("#unlock-sidebar").click(function(){
  	$(".ui-sidebar-wrapper").stop(true, true).removeClass("ui-expanded", 250, "easeOutSine")
  	$(".ui-sidebar-container").stop(true, true).addClass("ui-hover-sidebar").addClass("ui-collapsed")
  	$(".ui-sidebar-container").stop(true, true).addClass("ui-expanded")
  	$("#lock-sidebar").removeClass('hidden')
  	$("#unlock-sidebar").addClass('hidden')
  	$("#close-sidebar").addClass('hidden')
  	$("#open-sidebar").addClass('hidden')
  })
  $(function(){
  	$('.ui-sidebar-activate').mouseenter(function(){$('.ui-collapsed').stop(true, true).addClass('ui-expanded', 250, "easeOutSine")})
    $('.ui-hover-sidebar').mouseleave(function(){$('.ui-collapsed').stop(true, true).removeClass('ui-expanded', 250, "easeOutSine")})

  })

  </script>

  {% block script %}
  {% endblock %}
  </body>
  
</html>

