<!-- Modal -->
<div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="fileModalLabel">Select or Upload Image</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input id="image_select_url" type="text" class="form-control" placeholder="URL Here">
          <span class="input-group-btn">
            <button id="image_select_ok" class="btn btn-success" type="button">OK</button>
          </span>
        </div><!-- /input-group -->
      	<input id="image_upload" type="file" class="form-control">
      	<table class="table">
        	<colgroup>
        	   <col span="1" style="width: 130px;">
        	   <col span="1">
        	</colgroup>
      	<tbody id="image_list">
      		{% for image in images %}
                       {% if image.image %}
      			<tr>
      				<td class="text-center"><img src="{{image.thumbnail.url}}" height="100px"></td><td>
      				<p><small>{{image.creation_date}}</small></p>
      				<p><small class="image_url">https://{{request.get_host}}{{image.image.url}}</small></p>
      				</td>
      			</tr>
                        {% endif %}
      		{% endfor %}
      	</tbody>
      	</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>


  <script>
  var selected_default;
  $(function(){
    $('#controls_container').on('click', '.textInput[name$="default"]', function(){
      selected_default = $(this);
      var val = $(this).closest('tr').find('.select[name$="input_type"] option:selected').text()
      console.log(val)
      if (val == 'Image'){
        $('#fileModal').modal('show');
      }
    })
    $('#layersettings').on('click', '.image-select-input', function(){
      selected_default = $(this);
      $('#fileModal').modal('show');
    })
    $("#image_upload").on('change' ,function(){
          var image = $('#image_upload')[0].files[0];
          data = new FormData();
          data.append('image', image)
          data.append('csrfmiddlewaretoken', '{{ csrf_token }}')
          //POST SELECTED TO /update/id
          $.ajax({
              url: "/uploadimage/",
              data: data,
              processData: false,
              contentType: false,
              type: 'POST',
              dataType:'json',
              success: function(data){
                var newrow = $("<tr></tr>");
                newrow.append('<td class="text-center"><img src="'+data.thumb+'" height="100px"></td>')
                newrow.append('<td><p><small>Just Now</small></p><p><small class="image_url">http://{{request.get_host}}'+data.image+'</small></p></td>')
                $("#image_list").prepend(newrow);
                newrow.click()
            }
          })
          $(this).parent().siblings('.displayImage').removeAttr('style')
          $(function( data ){
            console.log(data);
          })
          var item = $(this).attr('name')
          var icon = $("#" + item + "image")
          icon.css({"display":"inline"})
        })
    $("#image_list").on('click', 'tr', function(){
      $('#image_select_url').val($(this).find('.image_url').text());
      $('#image_select_ok').click();
    })
    $("#image_select_ok").click(function(){
      selected_default.val($('#image_select_url').val());
      selected_default.change();
      $('#fileModal').modal('hide');
    })
  })
  </script>
