<div data-id="{{layer.id}}" data-title="{{layer.title}}" data-version="{{layer.latest.id}}" class="layerItem col-xs-{% if mode == 'manage'%}12{% else %}2{% endif %}">
	<div class="col-xs-{% if mode == 'manage'%}3{% else %}12{% endif %} text-center">
	<img src="{% if layer.icon %}{{layer.icon.url}}{% else %}/static/img/defaultlayericon.png{% endif %}">
	<h4 style="margin:0; margin-top:10px">{{layer.title}}</h4>

	</div>
	{% if mode == 'manage'%}
	<div class="col-xs-4">
	<p>{{layer.description}}</p>
	</div>
	<div class="col-xs-5">
	Owned by: {% if layer.owner = user %} Me {% else %} {{layer.owner.username}}{% endif %}
	<br>
	Latest Version: {% if layer.latest.publish %}{{layer.latest.edit_date}}{% else %}DEV{% endif %}
	<br>
		{% if perms.share == True %}<button class="sharebutton btn btn-default btn-sm" data-itempk="{{layer.id}}">Share</button>{% endif %}
	{% if perms.edit == True %}<a href="{% url 'edit_layer' layer.id %}" class="btn btn-default btn-sm">Edit</a>{% endif %} 
	{% if perms.delete == True %}<a href="{% url 'delete_layer' layer.id %}" class="btn btn-default btn-sm">Delete</a>{% endif %} 
	<a target="_blank" href="{% url 'view_layer' layer.id %}" class="btn btn-default btn-sm">View</a>
	</div>
	{% else %}
	<div class="col-xs-12">
		{% if perms.use == True %}
		<button type="button" class=" btn btn-block btn-primary addslidebutton">Add</button>
		{% else %}
		<button type="button" class=" btn btn-block btn-primary disabled">Cannot add this item</button>
		{% endif %}
	</div>
	{% endif %}
</div>