<div data-id="{{layer.id}}" data-title="{{layer.title}}" data-version="{{layer.latest.id}}" class="layerItem {% if mode == "use" or mode == "edit"%}col-xs-6 col-sm-4 col-md-3{% else %}col-xs-12{% endif %}">
	<div class="itemContainer itemContainerLayer row">
	<div class="col-xs-12">
		<span class=""><i class="fa fa-object-ungroup"></i></span>
		<span class="pull-right">
		{% if mode  == 'manage' %}
		<a target="_blank" href="{% url 'clone_layer' layer.id %}"><i class="favtoggle fa fa-copy" title="Clone this layer"></i></a>
		{% endif %}
		<i class="fa fa-eye previewtoggle" title="Preview this layer"></i>
		<i class="favtoggle fa fa-star{% if favorite != 0%}{% else %}-o{% endif %}" title="Favorite or Unfavorite this layer"></i>
		</span>
	</div>

	<div class="col-xs-12 layerpreview" style="display:none; padding:10px;">
		<div class="aspect_maintain" style="">
		</div>
	</div>

	<div class="{% if mode == "manage" or mode == "store" %}col-xs-4{% else %}col-xs-12{% endif %} text-center">
		<img src="{% if layer.icon %}{{layer.icon.url}}{% else %}/static/img/defaultlayericon.png{% endif %}">
		<h5 style="margin:0; margin-top:5px"><b>{{layer.title}}</b> 
		<br>

		<small>(by: {% if layer.owner = user %}Me{% else %} {{layer.owner.username}}{% endif %})</small></h5><br>

	</div>
	{% if mode == "manage" %}
		<div class="col-xs-4 itemDescription" style="min-height:100%;">
			<p><small>Latest Version: {% if layer.latest.publish %}{{layer.latest.edit_date|date:"Y/m/d"}}{% else %}DEV{% endif %}</small></p>
			<p>{{layer.description}}</p>
		</div>
		<div class="col-xs-4">
			<div class="btn-group-vertical btn-block" role="group" aria-label="...">
				{% if perms.share == True %}<button class="sharebutton btn btn-primary btn-sm" data-itempk="{{layer.id}}">Share</button>{% endif %}
				{% if perms.edit == True %}<a href="{% url 'edit_layer' layer.id %}" class="btn btn-primary btn-sm">Edit</a>{% endif %} 
				{% if perms.delete == True %}<a href="{% url 'delete_layer' layer.id %}" class="btn btn-primary btn-sm">Delete</a>{% endif %} 
			</div>
		</div>
	{% endif %}
	{% if mode == 'store' %}
	<div class="col-xs-6">
		<table class="">
			<tr>
				<td class="text-right"><b>Creator</b></td> <td>&nbsp;&nbsp;{{layer.owner.username}} <small><i class="fa fa-search"></i></small></td>
			</tr>
			<tr>
				<td class="text-right"><b>Official</b></td> <td>&nbsp;&nbsp;{{layer.official}}</td>
			</tr>
			<tr>
				<td class="text-right"><b>Latest</b></td> <td>&nbsp;&nbsp;{{layer.latest.edit_date|date:"Y/m/d"}}</td>
			</tr>
		</table>
	</div><div class="clearfix"></div>
	<div class="col-xs-12 " style="padding:5px 5px 0px 5px;">
		<div class="itemDescription" style="padding:10px 10px 10px 10px;">
		<p>{{layer.description}}</p>
		</div>
	</div>
	<div class="col-xs-12" style="margin-top:8px; margin-bottom: 15px;">
		<b>
		<span><i class="fa fa-plus-square-o" title="Times Used"></i>{{layer.uses}}</span>
		<span class=""><i class="fa fa-star-o" title="Times Favorited"></i>{{layer.favs}}</span>
		</b>
	<b>Tags:</b>
	{% for tag in layer.tags.all %}
		<span class="label label-default">{{tag}} <small><i class="fa fa-search"></i></small></td></span>
	{% endfor %}
	</div>
	{% endif %}

	<div class="col-xs-12 addbuttoncontainer">
		{% if perms.use == True %}
		<button type="button" class=" btn {% if mode == 'store' %}pull-right{% else %}btn-block{% endif %} btn-sm btn-primary addlayerbutton">Add</button>
		{% else %}
		<button type="button" class=" btn btn-block btn-primary disabled">Cannot add this item</button>
		{% endif %}
	</div>
	</div>
</div>