{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Layers' 'layers' %}
{% endblock %}

{% block style %}
<style>
	.tab-content{
		background-color:white;
		border-left:1px solid ddd;
		border-right:1px solid ddd;
		border-bottom:1px solid ddd;
		margin-left: 1px;
	}

	.sharebuttoncontainer{
		display: block;
	}
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="row">
	<div class="col-lg-6 col-lg-push-6 col-xs-12">
	<h2>Layers <small class="text-muted">Individually-packaged content delivery</small></h2>
	<p>Layers are self-contained customizable objects which can be added to your slides. Things like an image, a youtube video, a calender, or a clock can all be layers which can be added to slides. Each layer is a simple construct of javascript, css, html, and jinja which allows users to easily develop their own layers. Here you will find all the layers that are in the official repository, layers which you yourself have created, and layers which you have added to your account.</p>
	<a href={% url 'new_layer' %} class="btn btn-primary btn-lg">New Layer</a>
	</div>
	<div id="listLayersLoader" class="col-lg-6 col-lg-pull-6 col-xs-12">
		
	</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">Share settings for <span id="sharetitle"></span>></h4>
      </div>
      <div id="shareModalBody" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="saveshare" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
	$('#listLayersLoader').load('{% url "list_layers" mode="manage" %}')
	$('#listLayersLoader').on('click', '.sharebutton', function(){
		$('#shareModalBody').load('/share/layer/'+$(this).data('itempk')+'/', function(){
			$('#shareModal').modal('show');
		})
	})
</script>
{% endblock %}