<ul id="layertabs" class="nav nav-tabs" role="tablist" style="margin-top:10px;">
        <li role="presentation" class="active"><a href="#fav_layers" aria-controls="fav_layers" role="tab" data-toggle="tab">Favorite Layers</a></li>
        <li role="presentation"><a href="#pub_layers" aria-controls="pub_layers" role="tab" data-toggle="tab">Public Layers</a></li>
		  <li role="presentation"><a href="#my_layers" aria-controls="my_layers" role="tab" data-toggle="tab">My Layers</a></li>
		  <li role="presentation"><a href="#group_layers" aria-controls="group_layers" role="tab" data-toggle="tab">Layers in Groups</a></li>
</ul>
<div id="layerpanes" class="tab-content" style="">
	<div class="input-group" style="padding:20px;">
	  <input type="text" id="my_layers_search" class="form-control" placeholder="search for layer title">
	  <span class="input-group-addon"><i class="fa fa-search"></i></span>
	</div>
   {% load slide_tags %}
   <div role="tabpanel" class="tab-pane active" id="fav_layers">
      <div class="row">
      <h4 style="margin-top:0;">
         Recently Used
      </h4>
      <div class="col-xs-12">
      {% for layer in recent %}
         {% if mode != "edit" %}
           {% layer_item_fav layer 'use' %}
         {% else %}
           {% layer_item_fav layer mode %}
         {% endif %}
      {% endfor %}
      </div>
      <hr>
      <br>
      <h4 style="margin-top:0;">
         Favorites
      </h4>
      <div class="col-xs-12">
      {% for layer in favorites %}
         {% if mode != "edit" %}
           {% layer_item_fav layer 'use' %}
         {% else %}
           {% layer_item_fav layer mode %}
         {% endif %}
         {% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
      {% endfor %}
      </div>
      </div>


   </div>
   <div role="tabpanel" class="tab-pane" id="pub_layers">
      <h3 style="margin-top: 0;"><small>Search the Public Layer Database above</small></h3>
      <div id="layersearch" class="row">
      <h3>Popular Layers</h3>
      {% for layer in popular %}
         {% layer_item_fav layer 'store' %}
      {% endfor %}
      </div>
   </div>
   <div role="tabpanel" class="tab-pane" id="my_layers">
   	<div class="row">
   	{% for layer in layers %}
   	{% layer_item_fav layer mode %}
   	{% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
   	{% if mode != 'manage' %}
   	{% endif %}

   	{% endfor %}
   	</div>
   </div>
   <div role="tabpanel" class="tab-pane" id="group_layers">
      {% for group in groups %}
         <div class="panel panel-default">
           <div class="panel-heading"><span class="panel-title">{{group.title}} </span> <span class="text-muted">owned by {% if group.owner == user %}me{% else %}{{group.owner.username}}{% endif %}</span></div>
           <div class="panel-body">
             {% for layer in group.layers.all %}
               {% layer_item_fav layer mode %}
               {% if forloop.counter|divisibleby:4 %}<div class="clearfix"></div>{% endif %}
               {% endfor %}
           </div>
         </div>

      {% endfor %}
   </div>
</div>

<script>
$(function(){
var currentTimeout

 $(document).on('change propertychange keyup', '#my_layers_search', function(e){
 	var search = $(this).val().toLowerCase();
   var thistab = $("#layerpanes div.active")
    if (thistab.attr('id') == "pub_layers"){
      if(e.keyCode == 13){
         $('#layersearch').load('/layers/search/?q='+search)
      }
   }
   else{
    	if (search.length > 3){
    		clearTimeout(currentTimeout);
    		currentTimeout = setTimeout(function(){
           
    			$('.layerItem', thistab).each(function(){
    				console.log($(this).data('title'))
    				console.log(($(this).data('title').indexOf(search)))
    				if ($(this).data('title').toLowerCase().indexOf(search) > -1){
    					console.log(true)
    					$(this).show()
    				}
    				else {
    					$(this).hide()
    				}
    			})
    		}, 350)
    	}
    	else {
    		var thistab = $("#layerpanes div.active")
    		$('.layerItem', thistab).each(function(){
    			$(this).show()
    			})
    	}
   }
 })
 $("#layerpanes").on('click', '.favtoggle', function(){
   var container = $(this).closest('.layerItem');
   var itemid = container.data('id')
   $.post('{% url 'favlayer' %}', {'id': itemid, 'csrfmiddlewaretoken': '{{csrf_token}}'}, function(data){
      var affected_layers = $('#layerpanes').find('.layerItem[data-id="'+itemid+'"]>div>div>span>.favtoggle')
      console.log(affected_layers)
      if(data == "ADDED"){
         affected_layers.removeClass('fa-star-o');
         affected_layers.addClass('fa-star');
      }
      else{
         affected_layers.removeClass('fa-star');
         affected_layers.addClass('fa-star-o');
      }

   })
 })
  $("#layerpanes").on('click', '.previewtoggle', function(){
   var icon = $(this);
   var container = $(this).closest('.layerItem');
   var itemid = container.data('version');
   if (icon.hasClass('fa-eye')){
      $.post('/slides/layerpreview/', {'version': itemid}, function(data){
         var iframe = $('<iframe width="100%" height="200px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0"></iframe>').attr('srcdoc', data)

         container.find('.layerpreview>div').html(iframe)
         container.find('.layerpreview').slideDown();

      })
   }
   else{
      container.find('.layerpreview').hide()
      container.find('.layerpreview iframe').remove()
   }
   icon.toggleClass('fa-eye fa-eye-slash')
  })
})
</script>