{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Slideshows' 'layers' %}
	{% if slideshow != None %}
	{% with "Edit: "|add:slideshow.title as current %}
		{% breadcrumb current %}
	{% endwith %}
	{% else %}
    {% breadcrumb 'New Slideshow' %}
    {% endif %}
{% endblock %}

{% block style %}

	<style>
		body{
			padding: 0;
			margin: 0;
			background-color: #E6E6E6;
		}

		.ui-sidebar-wrapper{
			height:100%;
		}

		.slideIcon{
			padding: 8px;
			display: none;
		}
		.activeIcon{
			display: block;
		}

		.slideIcon>.slideContent{
			border: 1px solid black;
			border-radius: 5px;
			padding:8px;
			background-color: #E6E6E6;

		}

		.addbuttoncontainer{
		  display: block;
		}
	</style>
{% endblock %}

{% block body %}
{% load crispy_forms_tags %}
<form action="" method="POST">
<div class="container-fluid" style="padding:20px">
	<div class="row">
		<div class="col-lg-6 col-xs-12">
			{% crispy form %}
		</div>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-primary" id="addslide">Add Slide</button>
		<button type="submit" class="btn btn-success">Save Slideshow</button>
	</div>
	{% load slide_tags %}
	{% slideshowslides_all %}
</div>

</form>

<div id="slidesModal" class="modal fade" style="z-index:2000;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div id="listSlidesLoader" class="modal-body">
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



{% endblock %}
{% block script %}
	<script>
	$('#slidelist>.activeIcon').each(function(){
		if ($(".slideForm>[id$='-DELETE']", this).is(':checked')){
			$(this).removeClass('activeIcon');
		}
	})
	$('#listSlidesLoader').load('{% url "list_slides" mode="edit" %}', function(){
		// Put the pretty stuff in each icon
		$('#slidelist>.activeIcon').each(function(){
			// Get the matching slide
			var icon = $(this)
			var id = $('.slideForm>.slide', icon).val()
			var search = $('.slideItem').filter(function(){return $(this).data("id") == id })
			if (search.length > 0){
				icon.find('.slideContent').prepend(search.find('.info').html())
			}
		})
	})


	function reorder(){
		$('#slidelist>.activeIcon').each(function(index){
			$(".slideForm>.order", this).val(index);
		})
	}

	$('#slidelist').each(function(){
				    var $this = $(this);
				    $this.append($this.find('.activeIcon').get().sort(function(a, b) {
				        return $('.slideForm>.order', a).val() - $('.slideForm>.order', b).val();
				    }));
				});
	

	$( "#slidelist" ).sortable({
		revert: true,
		update: function( event, ui ) {
			reorder();
		}
	});

	$('#addslide').click(function(evt){
		evt.preventDefault();
		$('#slidesModal').modal('show');
	})

	$(document).on('click', '.slidedelete', function(evt){
		evt.preventDefault();
		var slide = $(this).closest('.slideIcon')
		$(".slideForm>[id$='-DELETE']", slide).prop('checked', true);
		slide.removeClass('activeIcon', function(){
			reorder()
		});
	})


	$('#listSlidesLoader').on('click', '.slideItem .addslidebutton', function(evt){
		evt.preventDefault();
		var slideItem = $(this).closest('.slideItem');
			// Get highest layer
			var index_highest = 0;
			$("#slidelist>.activeIcon").each(function() {
			    var index_current = parseInt($(".slideForm>.order",this).val());
			    if(index_current > index_highest) {
			        index_highest = index_current;
			        console.log(index_highest)
			    }
			});
			var count = $('#slidelist>.slideIcon').length;
			var owner = slideItem.find('.owner').text()
			var title = slideItem.find('h4>b').text()
			var tmplMarkup = $('#emptyslide').html();
			var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count).replace(/__title__/g, title).replace(/__owner__/g, owner);
			$('#slidelist').append(compiledTmpl);
			//Grab this newest slide we just added...
			var newlayer = $('#slidelist .slideIcon:last-child')
			// Fill it with goodies from the jsonData
			$(".slideForm>.order", newlayer).val(index_highest+1)
			$(".slideForm>.slide", newlayer).val(slideItem.data('id'))
			$('.slideContent', newlayer).prepend(slideItem.find('.info').html())
			// update form count
			$('#id_slide-TOTAL_FORMS').attr('value', count+1);
			$('#slidesModal').modal('hide');
			reorder();

	})
	</script>
{% endblock %}
