<div data-id="{{slideshow.id}}" data-title="{{slideshow.title}}" class="slideshowItem {% if mode == "use" or mode == "edit"%}col-xs-6 col-sm-4 col-md-3{% else %}col-xs-12{% endif %}">
	<div class="itemContainer itemContainerSlideshow row">
	<div class="col-xs-12">
		<span class=""><i class="fa fa-th-list"></i></span>
		<span class="pull-right">
		{% if mode == "manage" %}
		<a target="_blank" href="{% url 'clone_slideshow' slideshow.id %}"><i class="favtoggle fa fa-copy" title="Clone this slideshow"></i></a>
		{% endif %}
		</span>
	</div>
	<div class="col-xs-8">
	<div class="col-xs-12{% if mode == "manage"%}{% else %}text-center{% endif %}">
		<h4 style="margin:0; margin-top:5px"><b>{{slideshow.title}}</b>
		<br>
		<small>(by: {% if slideshow.owner = user %}Me{% else %} {{slideshow.owner.username}}{% endif %})
		<br>
		Last Edited: {{slideshow.edit_date|date:"Y/m/d"}}
		</small>

		</h4>

	</div>
	{% if mode == "manage" %}
		<div class="col-xs-12 itemDescription" style="min-height:100%; margin-top:10px;">
			<p><small></small></p>
			<p>{{slideshow.description}}</p>
		</div>
	</div>
		<div class="col-xs-4">
			<div class="btn-group-vertical btn-block" role="group" aria-label="...">
				{% if perms.share == True %}<button class="sharebutton btn btn-primary btn-sm" data-itempk="{{slideshow.id}}">Share</button>{% endif %}
				{% if perms.edit == True %}<a href="{% url 'edit_slideshow' slideshow.id %}" class="btn btn-primary btn-sm">Edit</a>{% endif %} 
				{% if slideshow.owner == user %}
				<button class="transferbutton btn btn-primary btn-sm" data-itempk="{{slideshow.id}}">Transfer</button>
				{% endif %}
				{% if perms.delete == True %}<a href="{% url 'delete_slideshow' slideshow.id %}" class="btn btn-primary btn-sm">Delete</a>{% endif %} 

				<a href="{% url 'view_slideshow' slideshow.id %}" class="btn btn-primary btn-sm">View</a>
			</div>
		</div>
	{% else %}
	</div>
	{% endif %}
	<div class="col-xs-12 addbuttoncontainer">
		{% if perms.use == True %}
		<button type="button" class=" btn btn-block btn-primary addslideshowbutton">Add</button>
		{% else %}
		<button type="button" class=" btn btn-block btn-primary disabled">Cannot add this item</button>
		{% endif %}
	</div>
	</div>
</div>