<div data-id="{{slideshow.id}}" data-title="{{slideshow.title}}" data-version="{{slideshow.latest.id}}" class="slideshowItem col-xs-{% if mode == 'manage'%}12{% else %}3{% endif %}">
	<div class="col-xs-{% if mode == 'manage'%}6{% else %}12{% endif %}">
	<h4>{{slideshow.title}}</h4>
	<p>{{slideshow.description}}</p>
	</div>
	{% if mode == 'manage'%}
	<div class="col-xs-6 text-right">
	Owned by: {% if slideshow.owner = user %} Me {% else %} {{slideshow.owner.username}}{% endif %}
	<br>
	Last Edited: {{slideshow.edit_date}}
	<br>
	{% if perms.share == True %}<button class="sharebutton btn btn-default btn-sm" data-itempk="{{slideshow.id}}">Share</button>{% endif %}
	{% if perms.edit == True %}<a href="{% url 'edit_slideshow' slideshow.id %}" class="btn btn-default btn-sm">Edit</a>{% endif %} 
	{% if perms.delete == True %}<a href="{% url 'delete_slideshow' slideshow.id %}" class="btn btn-default btn-sm">Delete</a>{% endif %} 
	<a target="_blank" href="{% url 'view_slideshow' slideshow.id %}" class="btn btn-default btn-sm">View</a>
	</div>
	{% else %}
	<div class="col-xs-12">
		{% if perms.use == True %}
		<button type="button" class=" btn btn-block btn-primary addslideshowbutton">Add</button>
		{% else %}
		<button type="button" class=" btn btn-block btn-primary disabled">Cannot add this item</button>
		{% endif %}
	</div>
	{% endif %}
</div>