{% extends 'UI/skin.html' %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url 'Slideshows' 'slideshows' %}
{% endblock %}

{% block style %}
<style>
	.tab-content{
		background-color:white;
		border-left:1px solid ddd;
		border-right:1px solid ddd;
		border-bottom:1px solid ddd;
		margin-left: 1px;
	}
	.tab-pane{
		padding:30px;
	}
	.sharebuttoncontainer{
		display: block;
	}
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="row">
	<div class="col-lg-6 col-lg-push-6 col-xs-12">
	<h2>Slideshows <small class="text-muted">Standing slide-by-slide</small></h2>
	<p>Slideshows are a simple collection of slides, each slide having an allocated time to display. A slideshow will loop infinitely through these slides.</p>
	<p>If you do not need a professional display, or only need to show a single slideshow, it is likely that you will not need to create a full-fledged station -- instead, consider using a slideshow.</p>
	<p class="text-muted">Please keep in mind that slideshows will not automatically switch to the emergency display in case of an on-campus emergency.</p>
	<a href={% url 'new_slideshow' %} class="btn btn-primary btn-lg">New Slideshow</a>

	</div>
	<div id="listSlideshowsLoader" class="col-lg-6 col-lg-pull-6 col-xs-12">
		
	</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">Share settings for <span id="sharetitle"></span>></h4>
      </div>
      <div id="shareModalBody" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="saveshare" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">Transfer Slideshow<span id="sharetitle"></span></h4>
      </div>
      <div id="transferModalBody" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="dotransfer" class="btn btn-primary">Transfer Item</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
	$('#listSlideshowsLoader').load('{% url "list_slideshows" mode="manage" %}')
		$('#listSlideshowsLoader').on('click', '.sharebutton', function(){
		$('#shareModalBody').load('/share/slideshow/'+$(this).data('itempk')+'/', function(){
			$('#shareModal').modal('show');
		})
	})
	$('#listSlideshowsLoader').on('click', '.transferbutton', function(){
		$('#transferModalBody').load('/transfer/slideshow/'+$(this).data('itempk')+'/', function(){
			$('#transferModal').modal('show');
		})
	})
</script>
{% endblock %}