{% load slide_tags %}
{{slideset.management_form}}
<div id="slidelist" class=" col-lg-12" style="background-color: white;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;">

{% for form in slideset %}
	{% slideshowslides_single form %}
{% endfor %}

</div>
<div id="emptyslide" style="display:none;">
	{% slideshowslides_single slideset.empty_form %}
</div>