
<div class="slideIcon activeIcon col-lg-3 col-md-4 col-xs-12">
	<div class="itemContainer itemContainerSlide row">
	<div class="col-xs-12">
		<span class=""><i class="fa fa-object-group"></i></span>
	</div>
	<div class="col-xs-12">
	<div class="col-xs-12{% if mode == "manage"%}{% else %}text-center{% endif %}">
		<h4 style="margin:0; margin-top:5px"><b>{% if form.instance.slide.title %}{{form.instance.slide.title}}{% else %}__title__{% endif %}</b>
		<br>
		<small>(by: <span class="owner">{% if form.instance.slide.title %}{% if form.instance.slide.owner = user %}Me{% else %} {{form.instance.slide.owner.username}}{% endif %}{% else %}__owner__{% endif %}</span>)
		</small>

		</h4>

	</div>
	<div class="slideContent">
	<div class="col-xs-8"><b>Display length (seconds):</b></div><div class="col-xs-4">{{form.length}}</div>

	<div class="btn-group btn-group-justified" >

		<div class="btn-group">
		<!-- Need to improve the edit button -->
		{% if form.instance.slide.title %}
	  <a href="/slides/edit/{{form.instance.slide.id}}" target="_blank" class="btn btn-primary">Edit</a>
	  {% else %}
	  <button type="button" class="btn btn-primary disabled">Edit</button>
	  {% endif %}
	  </div>
	  <div class="btn-group">
	  <button type="button" class="btn btn-primary slidedelete">Delete</button>
	  </div>
	</div>
	</div>
	<div class="slideForm" style="display:none;">
	{{form.slide}}{{form.id}}{{form.DELETE}}{{form.order}}
	</div>
	</div>
	</div>
</div>